*{
    box-sizing: border-box;
    font-family: Montserrat;
    
}
#container_c{
    display: flex;
    width:95%;
    padding:1%;
    height:100%;
    justify-content: center;
}
#left_c{
    width:55%;
    /* border:1px solid red; */
    padding:1%;
}
#right_c{
    width:35%;
    padding:1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.page-navigation{
    display: flex;
    align-items: center;
    gap:1%;
    cursor: pointer;
}
.navigation-icon{
    display: flex;
    align-items: center;
    gap:5%;

}
.right-icon{
    color:grey;
    font-size: medium;
    margin-bottom:-3%;
}
.right_2 {
    margin-bottom: -5%;
}
.p_c{
    width:45%;
    padding:1%;
    border-radius: 5px;
    border:1px dashed;
    border-color:#ed1c24;
    background: rgba(192, 192, 192, 0.441);
    font-size:15px;
}
.flex2_c{
    display: flex;
    justify-content: space-between;
}
.login-con{
    display: flex;
    align-items: center;
}
.contact_c{
    margin-top:-10%;
}
.login-signup{
    margin-top:-1%;
    cursor: pointer;
}
.login-signup p{
 background: #ed1c24;
 color:white;
 border:0;
 width:120px;
 border-radius:20px;
 padding:10%;
 font-size:14px;
}
form input{
    border:0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    outline: none;
    padding:1%; 
}
.select1_c{
   border:0;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
   outline: none;
   padding:1%;
}
.select_c{
    border:0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    outline: none;
    padding:1%;
}
#email,.select1_c{
    width:100%;
    margin-bottom:5%;
}
.f_name{
    width:47%;
}
.l_name{
    margin-left:2%;
    width:50%;
}
.address{
    width:100%;
}
.address_2{
    width:47%;
    margin-bottom:5%;
}
.city_i{
    margin-left:2%;
    width:50%;
}
.input4_c{
    width:100%;
}
.button_c{
    width:100%;
    background:#ed1c24;
    color:white;
    border:0;
    padding:2%;
    border-radius:20px;
}
.payment{
    color:rgba(78, 75, 75, 0.835);
}
.payment-method{
    margin-top: 5%;
    width:100%;
    padding:2%;
    background: #f0f0f0;
    filter:opacity(0.5)
}
.method-name img{
  width:25%;
}
.pay1{
    width:50%;
    display: flex;
    align-items: center;
    gap:3%;
}
.pay2{
    width:50%;
}
.pay2 img{
    width:100%;
}
.pay-options{
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.razor img{
    width:35%;
}
.order-btn{
    margin-top:3%;
}
.place-btn{
    width:100%;
    background: #ed1c24;
    border:0;
    color:white;
    padding:2%;
    border-radius: 20px;
}
.border-line{
    margin-top:8%;
    border-bottom:1px solid rgba(128, 128, 128, 0.325);
}
.end-tag{
    display: flex;
    align-items: center;
    gap:2%;
    color:grey;
}
.subtotal_c{
    display: flex;
    justify-content: space-between;
    margin-bottom:2%;
}
#shiping_c{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
#totl_inr_c{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.totals{
    margin-top:2%;
    color:rgba(0, 0, 0, 0.626);
    border-bottom: 1px solid rgba(0, 0, 0, 0.204);
    padding:1%;
}
.total_c{
    margin-top:8%;
}
#total,.ships{
    font-weight: bold;
    color:black;
}
.cart-container{
    overflow-y:hidden;
    height:300px;

}
.cart-container:hover{
    overflow-y: scroll;
}
.checkoutDiv{
    display: flex;
    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    justify-content: space-between;
    align-items: center;
}
.cardDiv img{
    width:70%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    border-radius: 5px;
    
}
.nameDiv{
    margin-left:-25%;
    width:40%;
    font-size:12px;
    color:rgba(0, 0, 0, 0.601);
}
.cardDiv{
    width:20%;
}
.totalDiv{
    width:30%;
}
.gift-container{
    width:100%;
}
.git-card{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width:100%;
    border-radius: 5px;
    padding:1%;
}
.gift-flex{
    display: flex;
    align-items: center;
    gap:2.5%;
}
.gift-image{
    width:30%;
}
.gift-content{
    width:60%;
    line-height: 1px;
    margin-left:5%;
}
.gift-image img{
    width:100%;
}
.redeem-content{
    display: flex;
    align-items: center;
    gap:3%;
}
.border-up{
    margin-top:5%;
    border-top:1px solid rgba(0, 0, 0, 0.347);
}
.border-down{
    border-bottom: 1px solid rgba(0, 0, 0, 0.284);
}
.logo img{
    width:15%;
}